language: android

# use container based build infrastructure
sudo: false

jdk:
 - oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-24.0.2
    - android-24
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository
  licenses:
      - '.+'
script:
   - ./gradlew assembleDebug -PdisablePreDex
   - ./gradlew checkstyle findbugs pmd -PdisablePreDex

cache:
  directories:
    - $HOME/.gradle
